:root {
  font-size: 62.5%;

  --main-color: #ffc700;
  --text-color: #fff;
  --text-hover-btn: #000;

  --title: 'Emilys Candy', sans-serif;
  --text: 'Inter', sans-serif;

  --font-weight-400: 400;
  --font-weight-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
  font-family: var(--text);
  color: var(--text-color);
  background: url('../assets/endless-nightmare.png') no-repeat center center / cover;
}

.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.main-text {
  max-width: 71.4rem;
}

.subtitle {
  font-size: clamp(1rem, 1vw + 0.1rem, 1.6rem);
}

.subtitle,
.read,
.btn {
  font-weight: var(--font-weight-700);
}

.title,
.subtitle span {
  color: var(--main-color);
}

.title {
  font-size: clamp(4rem, 7.3vw + 1rem, 6.4rem);
  font-family: var(--title);
  font-weight: var(--font-weight-400);
}

.title,
.read,
.btn {
  text-transform: uppercase;
}

.description,
.read,
.btn {
  font-size: clamp(1.2rem, 1vw + 0.7rem, 2rem);
}

.read,
.btn {
  font-family: var(--text);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  margin-top: 6.8rem;
}

.btn {
  border: none;
  background-color: var(--main-color);
  cursor: pointer;

  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.buttons .read {
  color: var(--text-color);

  &:hover {
    background-color: var(--main-color);
    color: var(--text-hover-btn);
    opacity: 1;
  }
}

.buttons > * {
  padding: 1.2rem 3.2rem;
}
