:root {
  font-size: 62.5%;

  --main-color: hsl(171, 77%, 64%);
  --text-color: hsl(0, 0%, 100%);
  --text-color-btn: hsl(220, 12%, 5%);

  --title: 'Beth Ellen', sans-serif;
  --font-text: 'Spectral', sans-serif;
  font-family: var(--font-text);

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
  color: var(--text-color);
  background: url('../assets/helthy-recipes.png') no-repeat center center / cover;
}

.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.4rem;
}

.title {
  font-family: var(--title);
  font-size: clamp(4.2rem, 7vw + 0.5rem, 6.4rem);
  font-weight: var(--font-weight-400);
  line-height: 12rem;
}

.title span {
  color: var(--main-color);
}

.description {
  font-weight: var(--font-weight-500);
}

.description,
.buttons > * {
  font-size: clamp(1.4rem, 1vw + 0.7rem, 2rem);
}

.learn {
  color: var(--text-color);
  margin-right: 2.4rem;
}

.btn,
.learn:hover {
  color: var(--text-color-btn);
  font-family: var(--font-text);

  border: none;
  border-radius: 0.8rem;
  background-color: var(--main-color);
}

.buttons {
  margin-top: 6.8rem;

  & > * {
    padding: 1.6rem 3.2rem;
    font-weight: var(--font-weight-600);
  }
}
