:root {
  font-size: 62.5%;

  --text-color-btn: #fff;
  --main-color: hsl(333, 71%, 51%);
  --text-color: hsl(200, 7%, 9%);
  --text-color-description: hsla(200, 3%, 18%, 0.902);

  --title: 'Cinzel', sans-serif;
  --text: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
  font-family: var(--title);
  color: var(--text-color);
  background: url('../assets/travel-expert.png') no-repeat center center / cover;
}

.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  gap: 0.4rem;
}

.title {
  font-weight: 700;
  font-size: clamp(3.2rem, 7vw + 0.5rem, 6.4rem);
  text-transform: uppercase;
}

.title span {
  color: var(--main-color);
}

.description,
.read,
.btn {
  font-size: clamp(1.6rem, 1vw + 0.7rem, 2rem);
}

.description {
  font-family: var(--text);
  font-weight: 400;

  color: var(--text-color-description);
}

.read {
  text-decoration: none;
  margin-right: 1.6rem;
  color: var(--text-color);

  &:hover {
    background-color: var(--main-color);
    border-radius: 8rem;
    color: var(--text-color-btn);
  }
}

.btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 8rem;
  color: var(--text-color-btn);

  cursor: pointer;
}

.buttons {
  margin-top: 6.8rem;

  & > * {
    padding: 1.6rem 3.2rem;

    font-family: var(--title);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.4rem;
  }
}
